th{
    display:none;
}
td{
    display:block;
}
td:first-child{
    padding-top:2px;
}
td:last-child{
    padding-top:2px;
}
td::before{
    content:attr(data-th);
    display: inline-block;
    width: 80%;
}
th, td {
    text-align:left;
}
@media (min-width:600px){
    th,td{
        display:table-cell;
        margin:3px;
    }
}