@font-face {
    font-family: MonoSpatial;
    src: url('MonoSpatial.ttf') format('truetype');
}

@font-face {
    font-family: SV Basic Manual;
    src: url('SVBasicManual.ttf') format('truetype');
}

@font-face {
    font-family: SV Basic Manual;
    src: url('SVBasicManual-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Lato;
    src: url('LATO-REGULAR.ttf') format('truetype');
}

@font-face {
    font-family: Open Sans;
    src: url('OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto Mono;
    src: url('RobotoMono-Bold') format('truetype');
}

@font-face {
    font-family: Pixel Font7;
    src: url('pixel font-7.ttf') format('truetype');
}